:root {
    --clr-accent-900: hsl(158, 36%, 20%);
    --clr-accent-700: hsl(158, 36%, 37%);
    
    --clr-primary-900: hsl(212, 21%, 14%);
    --clr-primary-600: hsl(228, 12%, 48%);
    --clr-primary-100: hsl(0, 0%, 100%);

    --bg-color: hsl(30, 38%, 92%);

    --ff-primary: 'Fraunces', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;

    --fw-bold: 700;
    --fw-semibold: 500;

    --fs-300: 0.78125rem;
    --fs-400: 0.8125rem;
    --fs-500: 0.875rem;
    --fs-700: 1.85rem;
    --fs-900: 2rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    padding: 1.5rem 1rem; 
    background: var(--bg-color);
}

.card {
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 100%;
    border-radius: 7px;
    background: var(--clr-primary-100);
}

picture {
    height: 240px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}

.product-description {
    padding: 1.5rem 1.5rem 0;
}

.card-product {
    font-size: var(--fs-300);
    font-weight: var(--fw-semibold);
    font-family: var(--ff-secondary);
    color: var(--clr-primary-600);
    letter-spacing: 0.275rem;
    margin-bottom: 1em;
}

.card-title {
    font-size: var(--fs-900);
    font-weight: var(--fw-semibold);
    font-family: var(--ff-primary);
    color: var(--clr-primary-900);
    line-height: 1;
    margin-bottom: 0.5em;
}

.card-description {
    font-size: var(--fs-500);
    font-weight: var(--fw-semibold);
    font-family: var(--ff-secondary);
    color: var(--clr-primary-600);
    line-height: 1.65;
    margin-bottom: 1.35em;
}

.card-price {
    display: flex;
    align-items: center;
    font-family: var(--ff-primary);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-900);
    color: var(--clr-accent-700);
    margin-bottom: 0.5em;
}

.card-price span {
    font-family: var(--ff-secondary);
    font-size: var(--fs-400);
    color: var(--clr-primary-600);
    text-decoration: line-through;
    font-weight: var(--fw-semibold);
    padding-left: 1.25rem;
}

.cart-button {
    text-align: center;
    background: var(--clr-accent-700);
    font-size: var(--fs-500);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-100);
    border-radius: 7px;
    width: 100%;
    padding-block: 1.05em;
    border: none;
}

.cart-button::before {
    margin-right: 0.675em;
    content: url('images/icon-cart.svg');
}

.cart-button:hover,
.cart-button:focus-within {
    cursor: pointer;
    background: var(--clr-accent-900);
}



@media only screen and (min-width: 40em) {
    :root {
        --fs-300: 0.6rem;
        --fs-500: 0.785rem;
        --fs-900: 1.8rem;
    }

    body {
        align-items: center;
    }

    .product-description > * {
        margin: 0;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 540px;
        height: 400px;
        background: var(--clr-primary-100);
        border-radius: 7px;
    }

    picture {
        flex-basis: 50%;
        height: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 7px 0 0 7px;
    }

    .product-description {
        flex-basis: 50%;
        padding-top: 1.75rem;
        padding-inline: 1.8rem;
    }

    .card-product {
        margin-bottom: 2em;
        letter-spacing: 0.8;
    }
    
    .card-description {
        line-height: 1.65;
    }
}